<%- include("../_header.ejs") -%>

            <nav class="breadcrumbs" aria-labelledby="system-breadcrumbs">
              <h2 id="system-breadcrumbs" class="visually-hidden">Breadcrumbs</h2>
              <ol class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="https://www-essex-gov-uk.nomensa.xyz/">Home</a>
                </li>
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link"
                    href="https://www-essex-gov-uk.nomensa.xyz/adult-social-care-and-health">Adult social care and
                    health</a>
                </li>
                <li class="breadcrumbs__item">
                  <%= common.guide_title %>: <%= title %>
                </li>
              </ol>
            </nav>

          </div>

        </div>

      </div>

    </div>



    <main class="main" id="main-content">




      <div class="lgd-region lgd-region--content-top region region-content-top">

        <div class="lgd-container padding-horizontal">

          <div class="lgd-region__inner lgd-region__inner--content-top">
            <div id="block-essex-localgov-page-header-block-scarfolk"
              class="block block-localgov-core block-localgov-page-header-block">






              <div class="lgd-page-title-block">

                <h1 class="lgd-page-title-block__title"><%= common.guide_title %></h1>

                <p class="lgd-page-title-block__subheader">Report abuse or neglect, types of abuse, safeguarding and
                  deprivation of liberty safeguards</p>

              </div>

            </div>
            <div id="block-guidecontents" class="block block-localgov-guides block-localgov-guides-contents">






              <nav class="lgd-guide-nav" aria-label="Guide">
                <ul class="lgd-guide-nav__list">
                  <% if (title === "Report a concern about an adult") { %>
                  <li class="lgd-guide-nav__list-item lgd-guide-nav__list-item--active" aria-current="page">Report a
                    concern about an adult</li>
                  <% } else { %>
                    <li class="lgd-guide-nav__list-item"><a
                      href="https://www-essex-gov-uk.nomensa.xyz/adult-social-care-and-health/report-abuse-or-neglect/report-concern-about-child"
                      hreflang="en">Report a concern about an adult</a></li>
                  <% }  %>
                  <li class="lgd-guide-nav__list-item"><a
                      href="https://www-essex-gov-uk.nomensa.xyz/adult-social-care-and-health/report-abuse-or-neglect/report-concern-about-child"
                      hreflang="en">Report a concern about a child</a></li>
                  <li class="lgd-guide-nav__list-item"><a
                      href="https://www-essex-gov-uk.nomensa.xyz/adult-social-care-and-health/report-abuse-or-neglect/what-abuse-what-neglect"
                      hreflang="en">What is abuse? What is neglect?</a></li>
                  <li class="lgd-guide-nav__list-item"><a
                      href="https://www-essex-gov-uk.nomensa.xyz/adult-social-care-and-health/report-abuse-or-neglect/child-abuse"
                      hreflang="en">Child abuse</a></li>
                  <li class="lgd-guide-nav__list-item"><a
                      href="https://www-essex-gov-uk.nomensa.xyz/adult-social-care-and-health/report-abuse-or-neglect/domestic-abuse"
                      hreflang="en">Domestic abuse</a></li>
                  <li class="lgd-guide-nav__list-item"><a
                      href="https://www-essex-gov-uk.nomensa.xyz/adult-social-care-and-health/report-abuse-or-neglect/deprivation-liberty-safeguards-dols"
                      hreflang="en">Deprivation of Liberty Safeguards (DoLS)</a></li>
                </ul>
              </nav>


            </div>

          </div>

        </div>

      </div>






      <div class="lgd-region lgd-region--content region region-content">


        <div class="lgd-region__inner lgd-region__inner--content">
          <div id="block-essex-localgov-mainpagecontent-scarfolk--2" class="block block-system block-system-main-block">

            <article data-quickedit-entity-id="node/1064"
              class="lgd-guides lgd-guides--page node node--type-localgov-guides-page node--view-mode-full node__restricted-width-section"
              data-once="quickedit" data-quickedit-entity-instance-id="0">
              <div class="lgd-container padding-horizontal">

                <h2 class="lgd-guides__title">
                  <%= title %>
                </h2>


                <div class="lgd-guides__content node__content">

