<%- include("../_header.ejs") -%>

            <nav class="breadcrumbs" aria-labelledby="system-breadcrumbs">
              <h2 id="system-breadcrumbs" class="visually-hidden">Breadcrumbs</h2>
              <ol class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="https://www-essex-gov-uk.nomensa.xyz/">Home</a>
                </li>
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link"
                    href="https://www-essex-gov-uk.nomensa.xyz/adult-social-care-and-health">Adult social care and
                    health</a>
                </li>
                <li class="breadcrumbs__item">
                  <%= common.guide_title %>: <%= page_title %>
                </li>
              </ol>
            </nav>

          </div>

        </div>

      </div>

    </div>



    <main class="main" id="main-content">




      <div class="lgd-region lgd-region--content-top region region-content-top">

        <div class="lgd-container padding-horizontal">

          <div class="lgd-region__inner lgd-region__inner--content-top">
            <div id="block-essex-localgov-page-header-block-scarfolk"
              class="block block-localgov-core block-localgov-page-header-block">






              <div class="lgd-page-title-block">

                <h1 class="lgd-page-title-block__title"><%= common.guide_title %></h1>

                <p class="lgd-page-title-block__subheader"><%= common.guide_summary %></p>

              </div>

            </div>
            <div id="block-guidecontents" class="block block-localgov-guides block-localgov-guides-contents">






              <nav class="lgd-guide-nav" aria-label="Guide">
                <ul class="lgd-guide-nav__list">

                  <% for (const [_, {url, title}] of Object.entries(common.guide_pages)) { %>

                    <% if (title === page_title) { %>
                      <li class="lgd-guide-nav__list-item lgd-guide-nav__list-item--active" aria-current="page">
                        <%= page_title %>
                      </li>
                      <% } else { %>
                    
                    <li class="lgd-guide-nav__list-item"><a
                      href="<%= common.guide_root_url %><%= url %>"
                      hreflang="en">
                    <%= title %></a>
                  
                  <% }} %>
                </ul>
              </nav>


            </div>

          </div>

        </div>

      </div>






      <div class="lgd-region lgd-region--content region region-content">


        <div class="lgd-region__inner lgd-region__inner--content">
          <div id="block-essex-localgov-mainpagecontent-scarfolk--2" class="block block-system block-system-main-block">

            <article data-quickedit-entity-id="node/1064"
              class="lgd-guides lgd-guides--page node node--type-localgov-guides-page node--view-mode-full node__restricted-width-section"
              data-once="quickedit" data-quickedit-entity-instance-id="0">
              <div class="lgd-container padding-horizontal">

                <h2 class="lgd-guides__title">
                  <%= page_title %>
                </h2>


                <div class="lgd-guides__content node__content">

